<header>

</header>

<content>
    <div class="container">
        <div class="row footer-row">
            <div class="col-md-4">
                <p>Our categories:</p>
            </div>
            <div class="col-md-4">
                <p>Customer service:</p>
                <ul>
                    <li> @Html.ActionLink("Frequently Asked Questions", "FAQ", "Utilities") </li>
                    <li> @Html.ActionLink("Ask us a question", "Contact", "Utilities") </li>
                </ul>
            </div>
            <div class="col-md-4">
                <p>About us:</p>
            </div>
        </div>
    </div>
</content>

<footer>
    <p>&emsp; &copy; @DateTime.Now.Year - Rudycommerce</p>
</footer>
