h1 {
    font-size: 2rem;
    margin: 10px;
    align-self: center;
}

.row {
    margin: 10px;
}

a.product-title {
    font-size: 1.2rem;
    text-align: center;
    color: black;
    text-decoration: underline;
}

.card-body{
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: -5rem;
}

img.product-image {
    width: 100%;
    height: 100%;
}

div.card-image {
    width: 100%;
    height: 10rem;
}

.card {
    margin-top: 1rem;
    height: 21rem;
    background-color: #F5F5F5;
}

.card-header {
    top: 0px;
    position: relative;
    background: transparent;
    border: 0px;
}

.card-header .price {
    /*position: absolute;
    bottom: 0px;
    right: 5px;*/
    font-size: 1.5rem;
}

.card-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.add-to-cart {
    width: 30%;
    right: 0px;
    position: absolute;
    z-index: 1;
    background-color: #f9c61d;
    transform: scale(0.8);
    border-color: black;
    border-radius: 50%;
}

.row hr {
    border: 1px solid lightgray;
    width: 90%;
}

.card-header p {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 8rem;
    word-wrap: break-word;
}
